<header>
  <nav class="navbar navbar-default navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="/">About</a></li>
          <!-- <li><a href="/blog">Blog</a></li>
          <li><a href="/projects">Projects</a></li>
          <li><a href="/books">Books</a></li> -->
        </ul>

        <ul class="nav navbar-nav pull-right social-icons">
          <li><a href="//twitter.com/cyberuyi"><i class="fa fa-lg fa-twitter-square"></i></a></li>
          <li><a href="//linkedin.com/in/uyioghosaehondor"><i class="fa fa-lg fa-linkedin-square"></i></a></li>
          <li><a href="//github.com/uehondor"><i class="fa fa-lg fa-github-square"></i></a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
